{% extends "base.html" %}
{% comment %} pge about.html {% endcomment %} 
{% block content %}  
   {% for info in informations %} 

<section class="scroll-section relative h-screen flex flex-col md:flex-row">
        <!-- Détermine l'ordre en fonction de la parité -->
        
            <!-- Impair : Média à gauche, texte à droite -->
            <!-- Média à gauche -->
            <div class="w-full md:w-1/2 h-1/2 md:h-full relative overflow-hidden group shine-effect order-1 md:order-1">
                
    
        <img src="{{ info.photo.url  }}" alt="Libérer la Créativité" class="absolute inset-0 w-full h-full object-cover transition-all duration-1000 group-hover:scale-110" loading="lazy">
    

<div class="absolute inset-0 bg-gradient-to-r  from-neutral-950/70 to-neutral-950/50 md:bg-gradient-to-l md:from-neutral-950/70 md:to-neutral-950/50 transition-opacity duration-500 group-hover:opacity-0"></div>

            </div>
            
            <!-- Texte à droite  add scroller  -->  
            <div class="w-full md:w-1/2 h-1/2 md:h-full flex items-center snap-y snap-mandatory relative justify-center scroll-section p-8 bg-white order-2 md:order-2 overflow-hidden">
                <div class="fix ed hidden top-0 left-0 w-full h-2 bg-gray-300 "> 
</div>


<!-- Barre de progression -->
<div class="fixed top-0 left-0 right-0 h-1 bg-gray-200">
    <div id="readingProgress" class="h-full bg-red-700" style="width: 0%"></div>
</div>


                <!-- sample article -->
                <div style="overflow-y: scroll;"  id="scrollableDiv" class="w-full h-full snap-y snap-mandatory">
                    <div  class="max-w-4xl mx-auto p-8 snap-y snap-mandatory" >
                        <h1 class="text-4xl font-bold mb-8">A propos de <span class="text-red-700">LIBIS</span></h1>
                                  <!-- Auteur et date -->
                <div class="flex items-center mb-6"> 
                         <img src="{{ info.photo.url }}" alt="{{ info.nom }} logo"
                             class="h-8 w-8 rounded-full object-cover mr-4">
             
                    <div>
                        <div class="text-sm font-medium text-gray-700">{{ info.nom }}</div>
                        <div class="text-xs text-gray-500">{{ info.nom }} Communication</div>
                    </div>
                </div>

                        <p class="text-lg leading-8 mb-20">
                           {{ info.bio }}
                        </p> 
                    </div>
                </div>
             

               <script>
    document.getElementById("scrollableDiv").addEventListener("scroll", function() {
        var scrollableDiv = this;
        var scrollTop = scrollableDiv.scrollTop;
        var scrollHeight = scrollableDiv.scrollHeight;
        var clientHeight = scrollableDiv.clientHeight;
        
        var scrollPercent = (scrollTop / (scrollHeight - clientHeight)) * 100;
        document.querySelector("#readingProgress").style.width = scrollPercent + "%";
    });
</script>
            </div>
        
    </section>
   {% endfor %}
{% endblock %}  