asgiref==3.8.1
Django==5.2.1
django-modeltranslation==0.19.14
django-unfold==0.57.0
django-widget-tweaks==1.5.0
pillow==11.2.1
python-decouple==3.8
sqlparse==0.5.3
typing_extensions==4.13.2
whitenoise==6.9.0
